<!doctype html>
<div th:replace="base :: base(~{::title}, ~{::.body})">
    <title>Accounts</title>
    <div class="body">

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Description</th>
                <th scope="col">IBAN</th>
                <th scope="col">Sync</th>
                <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="account: ${accounts}">
                <td th:text="${account.description}">Description</td>
                <td>
                    <a th:href="@{/admin/accounts/{iban}(iban = ${account.iban})}" th:text="${account.iban}">IBAN</a>
                </td>
                <td>
                    <form th:action="@{/admin/accounts/{iban}/sync(iban = ${account.iban})}" method="post" >
                        <button class="btn btn-primary" type="submit">Sync</button>
                    </form>
                </td>
                <td th:text="${account.latestLog?.status} + ' ' + ${account.latestLog?.created}" >UPDATED</td>
            </tr>
            </tbody>
        </table>

        <form th:action="@{/admin/accounts/sync}" method="post" >
            <button class="btn btn-primary" type="submit">Sync</button>
        </form>
    </div>
</div>