<!doctype html>
<div th:replace="base :: base(~{::title}, ~{::.body})">
    <title>Account</title>
    <div class="body">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Amount</th>
                <th scope="col">Debtor</th>
                <th scope="col">Creditor</th>
                <th scope="col">Date</th>
                <th scope="col">Description</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="transaction: ${transactions}">
                <td th:text="${transaction.amount}">Amount</td>
                <td th:text="${transaction.debtorName}">Debtor</td>
                <td th:text="${transaction.creditorName}">Creditor</td>
                <td th:text="${transaction.bookingDate}">Date</td>
                <td th:text="${transaction.description}">Description</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>