<!doctype html>
<div th:replace="base :: base(~{::title}, ~{::.body})">
    <title>Entry logs </title>
    <div class="body">
        <div class="container-fluid">
            <h1>Number of visits in past 6 months</h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Visits</th>
                    <th scope="col">Last visit</th>
                </tr>
                </thead>
                <tbody th:if="${ not#lists.isEmpty(entryItems)}">
                <tr th:each="entry : ${entryItems}" th:object="${entry}">
                    <td th:text="*{name}?:'Content not provided'"/>
                    <td th:text="*{email}?:'Content not provided'"/>
                    <td th:text="*{phone}?:'Content not provided'"/>
                    <td th:text="*{count}?:'Content not provided'"/>
                    <td th:text="*{lastEntry}?:'Content not provided'"/>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>