<!doctype html>
<div th:replace="base :: base(~{::title}, ~{::.body})">
    <title>Users</title>
    <div class="body">
        <div class="container-fluid">
            <h1 th:text="${user.name} + '(' + ${user.email} + ')'"></h1>
            <div class="mb-3 row">
                <div class="col-sm-2">
                    <form th:action="@{/admin/users/extend/{userId}/BOX(userId=${user.id})}" method="post">
                        <button type="submit" class="btn btn-primary btn-block">+Box</button>
                    </form>
                </div>
                <div class="col-sm-2">
                    <form th:action="@{/admin/users/extend/{userId}/ENTRANCE(userId=${user.id})}" method="post">
                        <button type="submit" class="btn btn-primary btn-block">+Entrance</button>
                    </form>
                </div>
            </div>


            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Created</th>
                    <th scope="col">Start</th>
                    <th scope="col">End</th>
                    <th scope="col" colspan="2">Name</th>
                    <th scope="col">Created By</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody th:if="${ not#lists.isEmpty(user.permissions)}">
                <tr th:each="permission : ${user.permissions}" th:object="${permission}">
                    <td th:text="*{#dates.format(created, 'yyyy-MM-dd HH:mm:ss')}"/>
                    <td>
                        <input th:form="${permission.id}"
                               name="starts"
                               class="form-control"
                               type="date"
                               th:value="*{#dates.format(starts, 'yyyy-MM-dd')}"/>
                    </td>
                    <td>
                        <input th:form="${permission.id}"
                               name="ends"
                               class="form-control"
                               type="date"
                               th:value="*{#dates.format(ends, 'yyyy-MM-dd')}"/>
                    </td>
                    <td colspan="2">
                        <div class="row">
                            <p th:text="*{name}?:'Content not provided'"/>
                        </div>
                        <div class="row">
                            <p class="small"
                               th:text="*{#dates.format(starts, 'yyyy-MM-dd') + ' - ' + #dates.format(ends, 'yyyy-MM-dd')}"/>
                        </div>
                    </td>
                    <td th:text="*{createdBy.name}?:'Content not provided'"/>
                    <td>
                        <form
                                th:id="${permission.id}"
                                th:action="@{/admin/users/{userId}/permissions/{permissionId}(userId=${user.id},permissionId=${permission.id})}"
                                th:method="post">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </form>
                    </td>

                    <td>
                        <form th:action="@{/admin/users/{userId}/permissions/{permissionId}(userId=${user.id},permissionId=${permission.id})}"
                              th:method="delete">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
                </tbody>
                <tbody th:if="${#lists.isEmpty(user.permissions)}">
                <tr>
                    <td class="text-center" colspan="7">No permissions</td>
                </tr>
                </tbody>
            </table>


        </div>
    </div>
</div>