<!doctype html>
<div th:replace="base :: base(~{::title}, ~{::.body})">
    <title>Users</title>
    <div class="body">
        <div class="container-fluid">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Roles</th>
                    <th scope="col">Permissions</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody th:if="${ not#lists.isEmpty(users)}">
                <tr th:each="user, stat : ${users}" th:object="${user}">

                    <td th:text="${stat.index + 1}"/>

                    <td th:text="*{name}?:'Content not provided'"/>

                    <td th:if="*{email != null}">
                        <i class="bi"
                           th:classappend="*{emailValidated} ? 'bi-check-circle  text-success' : 'bi-exclamation-circle text-danger'"
                           th:title="*{emailValidated}? 'Verified': 'Unverified'"></i>
                        <i th:if="*{emailSubscription}" class="bi bi-envelope-check  text-success"
                           th:title="*{emailSubscription}? 'Subscribed'"></i>
                        <span th:text="*{email}"/>
                    </td>
                    <td th:unless="*{email != null}">
                        Content not provided
                    </td>


                    <td th:if="*{phone != null}">
                        <i class="bi"
                           th:classappend="*{phoneValidated} ? 'bi-check-circle  text-success' : 'bi-exclamation-circle text-danger'"
                           th:title="*{phoneValidated}? 'Verified': 'Unverified'"></i>
                        <span th:text="*{phone}"/>
                    </td>
                    <td th:unless="*{phone != null}">
                        Content not provided
                    </td>
                    <td>
                        <span th:if="${#lists.isEmpty(user.roles)}">No roles</span>
                        <div th:unless="${#lists.isEmpty(user.roles)}" th:each="role : ${user.roles}" th:remove="tag">
                                <span class="badge bg-primary" th:text="${role.name}"></span>
                        </div>
                    </td>
                    <td>
                        <span th:if="${#lists.isEmpty(user.validPermissions)}">No permissions</span>
                        <div th:if="${ not#lists.isEmpty(user.validPermissions)}" th:each="permission : ${user.validPermissions}" th:remove="tag">
                                <span class="badge bg-primary" th:text="${permission.name}"></span>
                        </div>
                    </td>
                    <td>
                        <form th:action="@{/admin/users/{userId}/permissions(userId=${user.id})}"  method="get">
                            <button type="submit" class="btn btn-primary">Edit</button>
                        </form>
                    </td>
                </tr>
                </tbody>
                <tbody th:if="${#lists.isEmpty(users)}">
                <tr>
                    <td class="text-center" colspan="4">Data not found</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>