<!doctype html>
<div th:replace="base :: base(~{::title}, ~{::.body})">
    <title>Labas</title>
    <div class="body">

        <form th:action="@{/account/edit}" method="post" th:object="${accountEditForm}" name="edit">
            <div class="mb-3">
                <label for="phone" class="form-label">Phone</label>
                <input type="text"
                       th:class="form-control"
                       th:classappend="${#fields.hasErrors('phone')}? is-invalid"
                       th:value="*{phone}"
                       name="phone" id="phone" required/>
                <div th:each="err : ${#fields.errors('phone')}" class="invalid-feedback" th:text="${err}"></div>
                <label for="email" class="form-label">Email</label>
                <input type="text"
                       th:class="form-control"
                       th:classappend="${#fields.hasErrors('email')}? is-invalid"
                       th:value="*{email}"
                       name="email" id="email"/>
                <div th:each="err : ${#fields.errors('email')}" class="invalid-feedback" th:text="${err}"></div>

                <div>
                    <label class="form-check-label" for="emailSubscription">Notification about membership ending</label>
                    <input type="checkbox" name="emailSubscription" th:checked="*{emailSubscription}" />
                </div>

            </div>
            <button class="btn btn-primary" type="submit">Save</button>

        </form>
    </div>
</div>


