<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Verify phone</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS Dependencies -->
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js" type="text/javascript"></script>
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <div th:include="menu :: body"/>
</div>
<div class="container">
    <div class="p-5">
        <div class="col-md-6 col-sm-6 col-lg-6 text-center shadow p-3 mb-5 bg-body rounded"><span
                th:text="${message}"></span></div>
    </div>
</div>
</body>
</html>