<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Verify phone</title>
    <meta charset="utf-8">
    <meta th:unless="${user.phoneValidated}" http-equiv="refresh" content="5" >
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS Dependencies -->
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js" type="text/javascript"></script>
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <div th:include="menu :: body"/>
</div>
<div class="container">
    <p th:if="${user.phoneValidated}">
        Your phone <span th:text="${user.phone}"></span> is verified.
    </p>
    <p th:if="${!user.phoneValidated}">
        Call +37052141314 from <span th:text="${user.phone}"></span> to verify your phone number...
    </p>
</div>
</body>
</html>