<!doctype html>
<div th:replace="base :: base(~{::title}, ~{::.body})">
    <title>Labas</title>
    <div class="body">
        <div class="container-fluid">
            <div class="card mb-5">
                <div class="card-body">
                    <h1>Hello, <span th:text="${greeting}"></span></h1>

                    <div th:id="phone">
                        <p>Phone: <span th:text="${user.phone}"></span>
                            <span th:if="${not user.phoneValidated and not #strings.isEmpty(user.phone)}" class="text-danger">
                            Phone number is not verified. <a th:href="@{/account/verify}">Click here</a> to verify
                        </span>
                            <span th:if="${#strings.isEmpty(user.phone)}">No phone specified.</span>
                        </p>
                    </div>
                    <div th:id="email">
                        <p>Email: <span th:text="${user.email}"></span>
                                                    <span th:if="${not user.emailValidated and not #strings.isEmpty(user.email)}" class="text-danger">
                                                        Email number is not verified. Email verify with received email link.
                                                    </span>
                            <span th:if="${#strings.isEmpty(user.email)}">No email specified.</span>
                        </p>
                    </div>
                    <div th:id="subscribe">
                        <p>
                            Notification about membership ending:
                            <i class="bi" th:classappend="*{user.emailSubscription} ? 'bi-check2-square' : 'bi-x-square'"></i>
                        </p>
                    </div>
                    <a type="button" class="btn btn-secondary" th:href="@{/account/edit}"><i class="bi bi-person-fill"></i> Account settings</a>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="card" th:if="${#lists.isEmpty(permissions)}">
                        <div class="card-body">
                            <p>You have no permissions.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-3" th:if="${ not#lists.isEmpty(permissions)}" th:each="permission : ${permissions}"
                         th:object="${permission}">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col">
                                        <h3 th:text="*{name}"/>
                                    </div>
                                    <div class="col">
                                        <h5 class="text-end text-danger" th:if="*{not isActive and not isUpcoming}">Not active</h5>
                                        <h5 class="text-end text-success" th:if="*{isActive}">Active</h5>
                                        <h5 class="text-end text-warning" th:if="*{isUpcoming}">Pending</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <a type="button"
                                   class="btn btn-primary"
                                   th:if="*{name.toString() == 'ENTRANCE'}"
                                   th:href="@{/gate/open}">Open gate</a>
                                <p>Start date: <span th:text="*{#strings.substringBefore(starts, 'T')}"/></p>
                                <p>End date: <span th:text="*{#strings.substringBefore(ends, 'T')}"/></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
