<!doctype html>
<div th:replace="base :: base(~{::title}, ~{::.body})">
    <title>PaDirbtuvės</title>
    <div class="body">
        <section class="vh-100">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-md-8 col-lg-6 col-xl-4">
                        <div class="card bg-light shadow-2-strong" style="border-radius: 1rem;">
                            <div class="card-body pt-5 ">
                                <h3 class="mb-3 text-center">Sign in</h3>
                                <form th:action="@{/login}" method="post" name="login">
                                    <div id="error" th:if="${param.error}" class="alert alert-danger" role="alert">
                                        Invalid username or password.
                                    </div>
                                    <div th:if="${param.logout}" class="alert alert-primary" role="alert">
                                        You have been logged out.
                                    </div>

                                    <!-- Username input -->
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="username">Username</label>
                                        <input type="text" id="username" name="username" class="form-control form-control-lg"
                                               placeholder="Enter a username"/>
                                    </div>

                                    <!-- Password input -->
                                    <div class="form-outline mb-3">
                                        <label class="form-label" for="password">Password</label>
                                        <input type="password" id="password" name="password" class="form-control form-control-lg"
                                               placeholder="Enter password"/>
                                    </div>
                                    <!--                        Not currently implemented-->
                                    <!--<div class="d-flex justify-content-between align-items-center">-->
                                    <!--     <a href="#!" class="text-body">Forgot password?</a>-->
                                    <!--</div>-->

                                    <div class="text-center mt-3 pt-2 ">
                                        <button type="submit" class="btn btn-primary btn-lg  text-center"
                                                style="padding-left: 3.5rem; padding-right: 3.5rem;">Login
                                        </button>
                                        <p class="text-lg-start small fw-bold mt-2 pt-1 mb-0">
                                            Don't have an account? <a  th:href="@{/register}" class="link-danger">Register</a>
                                        </p>
                                    </div>
                                </form>
                                <hr class="my-4">
                                <div class="text-center">
                                    <p class="mb-3 mt-3 text-center">Or Login with</p>
                                    <p th:each="url : ${urls}">
                                        <a class="btn btn-lg btn-block btn-danger" th:text="'Sign in with ' +${url.key}"
                                           th:href="${url.value}">Client</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


