<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<body th:fragment="body">

<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <div class="container container-fluid">
        <a th:href="@{/details}" class="navbar-brand">Padirbtuvės</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a th:href="@{/details}" class="nav-item nav-link">Home</a>
                <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/admin/users}" class="nav-item nav-link">Users</a>
                <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/admin/entry}" class="nav-item nav-link">Entry logs</a>
            </div>
            <div class="navbar-nav ms-auto">
                <form th:action="@{/logout}" method="post">
                    <input class="btn btn-link link-secondary text-decoration-none" type="submit" th:value="Logout"/>
                </form>
            </div>
        </div>
    </div>
</nav>
</body>
</html>
