<!doctype html>
<div th:replace="base :: base(~{::title}, ~{::.body})">
    <title>Labas</title>
    <div class="body">
        <section class="vh-100">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-md-9 col-lg-7 col-xl-5">
                        <div class="card bg-light shadow-2-strong" style="border-radius: 1rem;">
                            <div class="card-body pt-5 ">
                                <h3 class="mb-3 text-center">Register</h3>
                                <form th:action="@{/register}" method="post" th:object="${registerForm}" name="register">
                                    <!-- Username input -->
                                    <div class="form-outline mb-3">
                                        <label for="username" class="form-label">Username</label>
                                        <input
                                                type="text"
                                                class="form-control form-control-lg"
                                                th:classappend="${#fields.hasErrors('username')} ? is-invalid"
                                                th:value="*{username}"
                                                name="username" id="username" required/>
                                        <div th:each="err : ${#fields.errors('username')}" class="invalid-feedback" th:text="${err}"></div>
                                    </div>
                                    <!-- Password input -->
                                    <div class="form-outline mb-3">
                                        <label for="password" class="form-label">Password</label>
                                        <input
                                                type="password"
                                                class="form-control form-control-lg"
                                                th:classappend="${#fields.hasErrors('password') || #fields.hasGlobalErrors()}? is-invalid"
                                                name="password" id="password"/>
                                        <div th:each="err : ${#fields.errors('password')}" class="invalid-feedback" th:text="${err}"></div>
                                        <div th:each="err : ${#fields.globalErrors}" class="invalid-feedback" th:text="${err}"></div>
                                    </div>

                                    <div class="form-outline mb-3">
                                        <label for="passwordAgain" class="form-label">Password again</label>
                                        <input type="password" class="form-control form-control-lg" name="passwordAgain" id="passwordAgain"/>
                                    </div>

                                    <div class="text-center mt-3 pt-2 ">
                                        <button type="submit" class="btn btn-primary btn-lg  text-center"
                                                style="padding-left: 3.5rem; padding-right: 3.5rem;">Register
                                        </button>
                                    </div>
                                    <div class="mt-4">
                                        <a  th:href="@{/login}" class="link-secondary text-decoration-none">Back to login
                                            page</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


