<!doctype html>
<div th:replace="base :: base(~{::title}, ~{::.body})">
    <title>Labas</title>
    <div class="body">
        <h1>Email</h1>

        <form th:action="@{/admin/play/email}" method="post" th:object="${sendEmailForm}" name="sendEmail">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input
                        type="text"
                        th:class="form-control"
                        th:classappend="${#fields.hasErrors('email')}? is-invalid"
                        th:value="*{email}"
                        name="email" id="email" required/>
                <div th:each="err : ${#fields.errors('email')}" class="invalid-feedback" th:text="${err}"></div>
            </div>
            <div class="mb-3">
                <label for="message" class="form-label">Message</label>
                <input
                        type="text"
                        th:class="form-control"
                        th:classappend="${#fields.hasErrors('message')}? is-invalid"
                        name="message" id="message"/>
                <div th:each="err : ${#fields.errors('message')}" class="invalid-feedback" th:text="${err}"></div>
            </div>
            <button class="btn btn-primary" type="submit">Send</button>

        </form>
    </div>
</div>


